# ╔═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
# ║                		    PAYMOB CONFIGURATION (https://developers.paymob.com/egypt/)				 			    	║
# ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

# ──────────────── API Credentials ────────────────
# ╔═════════════════════════════════════╦════════════════════════════════════╦═══════════════════════════════════════════╗
# ║ Key              		    		║ Example Value            			 ║ Description                   	 	 	 ║
# ╠═════════════════════════════════════╬════════════════════════════════════╬═══════════════════════════════════════════╣
# ║ PAYMOB_API_KEY                      ║ your-api-key                       ║ Main API Key from Paymob Dashboard    	 ║
# ║ PAYMOB_INTEGRATION_ID_CARD    		║ 123456                			 ║ Integration ID for Card Payments	 	     ║
# ║ PAYMOB_INTEGRATION_ID_KIOSK      	║ 654321                             ║ Integration ID for Kiosk (Fawry/Aman) 	 ║
# ║ PAYMOB_INTEGRATION_ID_WALLET 		║ 789012            	   			 ║ Integration ID for Wallet Payments        ║
# ║ PAYMOB_TEST_WALLET_MSISDN           ║ 01010101010                        ║ Official Paymob test Wallet (verify only) ║
# ║ PAYMOB_HMAC_SECRET 		            ║ your-hmac-secret   	   			 ║ HMAC secret key for webhook validation    ║
# ║ PAYMOB_KEYS_EXPIRY 		            ║ 180                                ║ Expiry time in minutes for generated keys ║
# ╚═════════════════════════════════════╩════════════════════════════════════╩═══════════════════════════════════════════╝

PAYMOB_API_KEY=your-api-key
PAYMOB_INTEGRATION_ID_CARD=your-integration-id-card
PAYMOB_INTEGRATION_ID_KIOSK=your-integration-id-KIOSK
PAYMOB_INTEGRATION_ID_WALLET=your-integration-id-wallet
PAYMOB_TEST_WALLET_MSISDN=01010101010
PAYMOB_HMAC_SECRET=your-hmac-secret
PAYMOB_KEYS_EXPIRY=180
PAYMOB_BASE_URL=https://accept.paymobsolutions.com/api

